<app-header  title="Login" style="text-align: center;" ></app-header> <!-- Recibimos el nombre del titulo, podemos modificarlo y recibimos si el menu esta abierto o no -->

<ion-content>

  <div class="d-flex-center">

    <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form" (keypress.enter)="submit()" > <!-- Traeremos nuestro objeto form , asi como su funcionamiento que declaramos en login-input y auth.ts , asi como tambien, el NgSubmit para ver que nos esta trayendo nuestro formulario y agregamos un evento  "keypress.enter" al momento de darle click se envie nuestro formulario -->

      <app-logo> </app-logo> <!-- Se esta trayendo la clase logo, atraves del shared -->


      <app-login-input 

        autocomplete="email"
        type="email"
        label="Correo"
        icon="mail-outline"
        [control]="form.controls.email" 
      
      ></app-login-input> <!-- Ademas de declarar los parametros de nuestro form, vamos a traer nuestro "control" para  recopilar nuestra información y nuestro ".controls" sirven para que podamos manipular los datos de lo que estamos enviando en nuestra etiqueta -->

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched"> <!-- Nuestro ngIf servira para enviar un mensaje en caso que detecte un error, este será atraves de nuestro ".errors" (por ejemplo cuando este vacio algun campo de nuestro forms) todo esto cuando sea tocado o clickeado -->

        <div *ngIf="form.controls.email.errors?.['required']"> El correo es requerido </div> <!-- Llamamos a los tipos de errores que se inicializaron en nuestro page.ts -->
        <div *ngIf="form.controls.email.errors?.['email']"> Ingrese un correo valido </div> 

      </div>
      

      <app-login-input

        type="password"
        label="Contraseña"
        icon="lock-closed-outline"
        [control]="form.controls.password" 

      ></app-login-input>

      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched"> <!-- Nuestro ngIf servira para enviar un mensaje en caso que detecte un error, este será atraves de nuestro ".errors" (por ejemplo cuando este vacio algun campo de nuestro forms) todo esto cuando sea tocado o clickeado -->

        <div *ngIf="form.controls.password.errors?.['required']"> La contraseña es requerida </div>
  
      </div>

        <p (click)="goToForgotPassword()" class="ion-text-end">¿Olvidaste la contraseña?</p>

      <ion-button class="submit" type="submit" expand="block" mode="ios"  [disabled]="form.invalid" > <!-- EL tipo "type" servira para enviar la información de lo que estemos agregando y mis datos sean leidos , sino no podra leer el contenido esto de acuerdo a las propiedades del submit -->
        Ingresar
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="goToSignUp()" class="ion-margin-top" expand="block" mode="ios" fill="outline">
        Registrarse
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>

    </form>

  </div>

</ion-content>