<app-header [isModal] = "true" [title]="students ? 'Editar estudiante': 'Agregar estudiante' " ></app-header> <!-- Estamos activando el header en nuestro modal o ventana emergente y ademas nuestro boton de salida -->

<ion-content>

    <form [formGroup]="form" (ngSubmit)="submit()" class="ion-padding ion-text-center" (keypress.enter)="submit()" > <!-- Traeremos nuestro objeto form , asi como su funcionamiento que declaramos en login-input y auth.ts , asi como tambien, el NgSubmit para ver que nos estra trayendo nuestro formulario -->

      <ion-avatar *ngIf="form.value.img"> <!-- Condición para verificar si yo no tengo de imagen , mandará un icono y en caso si encuentra alguna imagen traerá la imagen o el valor que se encuentre en nuestro formulario  -->
        <img [src]="form.value.img" /> <!-- Estamos rescatando nuestra img de nuestro form atraves de nuestro ts -->
      </ion-avatar>

      <ion-icon class="img-icon" *ngIf="!form.value.img" name="image-outline"></ion-icon> <!-- Traemos un icono en caso de que no se encuentre una imagen, tuvimos que negarlo con un signo  -->

      <br>

      <ion-button (click)="takeImage()" mode="ios" size="small" shape="round">
        Tome/Seleccione una foto
      </ion-button>

      <app-login-input

        autocomplete="name"
        type="text"
        label="Nombre"
        [control]="form.controls.name" 
      
      ></app-login-input> <!-- Ademas de declarar los parametros de nuestro form, vamos a traer nuestro "control" para  recopilar nuestra información y nuestro ".controls" sirven para que podamos manipular los datos de lo que estamos enviando en nuestra etiqueta -->

      <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched"> <!-- Nuestro ngIf servira para enviar un mensaje en caso que detecte un error, este será atraves de nuestro ".errors" (por ejemplo cuando este vacio algun campo de nuestro forms) todo esto cuando sea tocado o clickeado -->

        <div *ngIf="form.controls.name.errors?.['required']"> El nombre es requerido </div>
        
      </div>

      <!-- <app-login-input

        autocomplete="lastname_p"
        type="text"
        label="Apellido paterno"
        [control]="form.controls.lastname_p" 
      
      ></app-login-input>

      <div class="validators" *ngIf="form.controls.lastname_p.errors && form.controls.lastname_p.touched">  Nuestro ngIf servira para enviar un mensaje en caso que detecte un error, este será atraves de nuestro ".errors" (por ejemplo cuando este vacio algun campo de nuestro forms) todo esto cuando sea tocado o clickeado 

        <div *ngIf="form.controls.lastname_p.errors?.['required']"> El apellido paterno es requerido </div>

      </div>

      <app-login-input

        autocomplete="lastname_m"
        type="text"
        label="Apellido materno"
        [control]="form.controls.lastname_m" 
      
      ></app-login-input>

      <div class="validators" *ngIf="form.controls.lastname_m.errors && form.controls.lastname_m.touched">  Nuestro ngIf servira para enviar un mensaje en caso que detecte un error, este será atraves de nuestro ".errors" (por ejemplo cuando este vacio algun campo de nuestro forms) todo esto cuando sea tocado o clickeado 

        <div *ngIf="form.controls.lastname_m.errors?.['required']"> El apellido materno es requerido </div>

      </div> -->

      <ion-item>
        <ion-label position="floating">Género</ion-label>
        <ion-select formControlName="genre" placeholder="Seleccione el género">
          <ion-select-option value="MASCULINO">Masculino</ion-select-option>
          <ion-select-option value="FEMENINO">Femenino</ion-select-option>
        </ion-select>
      </ion-item>
      
      <div class="validators" *ngIf="form.controls.genre.errors && form.controls.genre.touched">
        <div *ngIf="form.controls.genre.errors?.['required']">El género es requerido</div>
      </div>
      
      <!-- <ion-item>
        <ion-label position="stacked">Institución</ion-label>
        <ion-select formControlName="institution" interface="action-sheet">
          <ion-select-option value="UPSRJ">Universidad Politécnica de Santa Rosa Jáuregui (UPSRJ) </ion-select-option>
          <ion-select-option value="other"> + Añadir institución</ion-select-option>
        </ion-select>
      </ion-item> -->

      <!-- <div *ngIf="form.value.institution === 'other'">
        <app-login-input
          autocomplete="new-institution"
          type="text"
          label="Nombre de la institución para agregar"
          [control]="form.controls.newInstitution"
        ></app-login-input>
      </div> -->
      
      <!-- <div class="validators" *ngIf="form.controls.institution.errors && form.controls.institution.touched">
        <div *ngIf="form.controls.institution.errors?.['required']"> Se necesita el nombre de la institución </div>
      </div> -->

      <app-login-input

      autocomplete="quarter"
      type="number"
      label="Cuatrimestre"
      [control]="form.controls.quarter" 
    
    ></app-login-input> <!-- Ademas de declarar los parametros de nuestro form, vamos a traer nuestro "control" para  recopilar nuestra información y nuestro ".controls" sirven para que podamos manipular los datos de lo que estamos enviando en nuestra etiqueta -->

    <div class="validators" *ngIf="form.controls.quarter.errors && form.controls.quarter.touched"> <!-- Nuestro ngIf servira para enviar un mensaje en caso que detecte un error, este será atraves de nuestro ".errors" (por ejemplo cuando este vacio algun campo de nuestro forms) todo esto cuando sea tocado o clickeado -->

      <div *ngIf="form.controls.quarter.errors?.['required']"> El cuatrimestre es requerido </div>
      
    </div>

      <ion-item>
        <ion-label position="floating">Carrera:</ion-label>
        <ion-select formControlName="degree" placeholder="Seleccione la carrera:">
          <ion-select-option value="LIC. EN TERAPIA FISICA"> LIC. EN TERAPIA FISICA </ion-select-option>
          <ion-select-option value="ING. EN ANIMACION Y EFECTOS VISUALES"> ING. EN ANIMACION Y EFECTOS VISUALES</ion-select-option>
          <ion-select-option value="ING. EN ROBOTICA COMPUTACIONAL"> ING. EN ROBOTICA COMPUTACIONAL </ion-select-option>
          <ion-select-option value="ING. EN SOFTWARE"> ING. EN SOFTWARE </ion-select-option>
          <ion-select-option value="ING. EN METROLOGIA INDUSTRIAL">ING. EN METROLOGIA INDUSTRIAL</ion-select-option>
          <ion-select-option value="ING. EN SISTEMAS AUTOMOTRICES">ING. EN SISTEMAS AUTOMOTRICES</ion-select-option>
        </ion-select>
      </ion-item>
    
      <div class="validators" *ngIf="form.controls.degree.errors && form.controls.degree.touched"> <!-- Nuestro ngIf servira para enviar un mensaje en caso que detecte un error, este será atraves de nuestro ".errors" (por ejemplo cuando este vacio algun campo de nuestro forms) todo esto cuando sea tocado o clickeado -->

        <div *ngIf="form.controls.degree.errors?.['required']"> La carrera es requerida </div>
      
      </div>

      <ion-item>
        <ion-label position="floating">Inclusión</ion-label>
        <ion-select formControlName="inclusion" placeholder="¿Pertenece al programa de inclusión?">
          <ion-select-option value="Sí">Si pertenezco</ion-select-option>
          <ion-select-option value="No">No pertenezco</ion-select-option>
        </ion-select>
      </ion-item>
      
      <div class="validators" *ngIf="form.controls.inclusion.errors && form.controls.inclusion.touched">
        <div *ngIf="form.controls.inclusion.errors?.['required']">La opción es requerida</div>
      </div>

      <app-login-input

        autocomplete="enrollment"
        type="number"
        label="Matrícula"
        [control]="form.controls.enrollment" 
    
      ></app-login-input> <!-- Ademas de declarar los parametros de nuestro form, vamos a traer nuestro "control" para  recopilar nuestra información y nuestro ".controls" sirven para que podamos manipular los datos de lo que estamos enviando en nuestra etiqueta -->

      <div class="validators" *ngIf="form.controls.enrollment.errors && form.controls.enrollment.touched"> <!-- Nuestro ngIf servira para enviar un mensaje en caso que detecte un error, este será atraves de nuestro ".errors" (por ejemplo cuando este vacio algun campo de nuestro forms) todo esto cuando sea tocado o clickeado -->

        <div *ngIf="form.controls.enrollment.errors?.['required']"> La matrícula es requerida </div>
        <div *ngIf="form.controls.enrollment.value && form.controls.enrollment.value.length > 9"> La matrícula no puede tener más de 9 dígitos </div>
        <div *ngIf="form.controls.enrollment.value && form.controls.enrollment.value.length < 9"> La matrícula no puede tener más de 9 dígitos </div>

      </div>


      <app-login-input

          autocomplete="generation"
          type="text"
          label="Generación"
          [control]="form.controls.generation"  
      
      ></app-login-input> 

      <div class="validators" *ngIf="form.controls.generation.errors && form.controls.generation.touched"> 

        <div *ngIf="form.controls.generation.errors?.['required']"> El número de generación es requerida </div>

      </div> 

      <app-login-input

          autocomplete="group"
          type="text"
          label="Grupo"
          [control]="form.controls.group"  
      
      ></app-login-input> 

       <div class="validators" *ngIf="form.controls.group.errors && form.controls.group.touched"> 

        <div *ngIf="form.controls.group.errors?.['required']"> El grupo es requerido </div>
      
      </div>
      

      <!-- <app-login-input

          autocomplete="nss"
          type="number"
          label="Numero de Seguro Social"
          [control]="form.controls.nss" 
          
      
      ></app-login-input> Ademas de declarar los parametros de nuestro form, vamos a traer nuestro "control" para  recopilar nuestra información y nuestro ".controls" sirven para que podamos manipular los datos de lo que estamos enviando en nuestra etiqueta 

      <div class="validators" *ngIf="form.controls.nss.errors && form.controls.nss.touched">  Nuestro ngIf servira para enviar un mensaje en caso que detecte un error, este será atraves de nuestro ".errors" (por ejemplo cuando este vacio algun campo de nuestro forms) todo esto cuando sea tocado o clickeado 

        <div *ngIf="form.controls.nss.errors?.['required']"> El número de seguro social es obligatorio </div>
        <div *ngIf="form.controls.nss.errors?.['pattern']">El número de seguro social solo debe contener números.</div>

      </div> -->

      <!-- <div *ngIf="form.controls.nss.value && form.controls.nss.value.length > 11">

        <div class="validators">El número de seguro social no debe tener más de 11 caracteres</div>

      </div> -->

      <!-- <div *ngIf="form.controls.nss.value && form.controls.nss.value.length < 11">

        <div class="validators">El número de seguro social debe de tener al menos 11 caracteres</div>

      </div> -->

      <!-- <ion-item>
        <ion-label position="floating">Tipo de Sangre</ion-label>
        <ion-select formControlName="blood_type" placeholder="Seleccione el tipo de sangre">
          <ion-select-option value="A+">A+</ion-select-option>
          <ion-select-option value="A-">A-</ion-select-option>
          <ion-select-option value="B+">B+</ion-select-option>
          <ion-select-option value="B-">B-</ion-select-option>
          <ion-select-option value="AB+">AB+</ion-select-option>
          <ion-select-option value="AB-">AB-</ion-select-option>
          <ion-select-option value="O+">O+</ion-select-option>
          <ion-select-option value="O-">O-</ion-select-option>
        </ion-select>
      </ion-item> -->

      <!-- <div class="validators" *ngIf="form.controls.blood_type.errors && form.controls.blood_type.touched">
        <div *ngIf="form.controls.blood_type.errors?.['required']">El tipo de sangre es requerido</div>
      </div> -->

      <!-- <app-login-input

        autocomplete="curp"
        type="text"
        label="Curp"
        [control]="form.controls.curp"
        (input)="transformToUppercase($event)"
        
      ></app-login-input>  Ademas de declarar los parametros de nuestro form, vamos a traer nuestro "control" para  recopilar nuestra información y nuestro ".controls" sirven para que podamos manipular los datos de lo que estamos enviando en nuestra etiqueta 

      <div class="validators" *ngIf="form.controls.curp.errors && form.controls.curp.touched">  Nuestro ngIf servira para enviar un mensaje en caso que detecte un error, este será atraves de nuestro ".errors" (por ejemplo cuando este vacio algun campo de nuestro forms) todo esto cuando sea tocado o clickeado 

        <div *ngIf="form.controls.curp.errors?.['required']"> El CURP es requerido </div>
        <div *ngIf="form.controls.curp.errors?.['pattern']">El CURP no puede contener expresiones regulares como puntos y comas entre otros</div>
        <div *ngIf="form.controls.curp.errors?.['maxLength']"> El CURP no puede tener más de 18 caracteres </div> 

      </div> -->

      <!-- <div *ngIf="form.controls.curp.value && form.controls.curp.value.length < 18">

        <div class="validators">El CURP debe de tener al menos 18 caracteres</div>

      </div>

      <div *ngIf="form.controls.curp.value && form.controls.curp.value.length > 18">

        <div class="validators">El CURP no debe de tener más de 18 caracteres</div>

      </div> -->

      
      <ion-item>
        <ion-label position="floating"> Status </ion-label>
        <ion-select formControlName="status" placeholder="Seleccione si el alumno esta activo o no">
          <ion-select-option value="SI">SI</ion-select-option>
          <ion-select-option value="NO">NO</ion-select-option>
        </ion-select>
      </ion-item>

      <div class="validators" *ngIf="form.controls.status.errors && form.controls.status.touched">
        <div *ngIf="form.controls.status.errors?.['required']">El status es requerido</div>
      </div>
      

      <app-login-input

        autocomplete="Id_Key"
        type="number"
        label="IdKey"
        [control]="form.controls.id_key" 

      ></app-login-input> <!-- Ademas de declarar los parametros de nuestro form, vamos a traer nuestro "control" para  recopilar nuestra información y nuestro ".controls" sirven para que podamos manipular los datos de lo que estamos enviando en nuestra etiqueta -->

      <div class="validators" *ngIf="form.controls.id_key.errors && form.controls.id_key.touched"> <!-- Nuestro ngIf servira para enviar un mensaje en caso que detecte un error, este será atraves de nuestro ".errors" (por ejemplo cuando este vacio algun campo de nuestro forms) todo esto cuando sea tocado o clickeado -->

        <div *ngIf="form.controls.id_key.errors?.['required']"> El identificador del Id key es requerido </div>
        <div *ngIf="form.controls.id_key.errors?.['min']"> El número tiene que ser mayor a 0 </div> 

      </div>

      <!-- <app-login-input

        autocomplete="Id_Key2"
        type="number"
        label="IdKey2"
        [control]="form.controls.id_key2" 

      ></app-login-input> Ademas de declarar los parametros de nuestro form, vamos a traer nuestro "control" para  recopilar nuestra información y nuestro ".controls" sirven para que podamos manipular los datos de lo que estamos enviando en nuestra etiqueta 

      <div class="validators" *ngIf="form.controls.id_key2.errors && form.controls.id_key2.touched"> Nuestro ngIf servira para enviar un mensaje en caso que detecte un error, este será atraves de nuestro ".errors" (por ejemplo cuando este vacio algun campo de nuestro forms) todo esto cuando sea tocado o clickeado 

        <div *ngIf="form.controls.id_key2.errors?.['required']"> El identificador del Id key es requerido </div>
        <div *ngIf="form.controls.id_key2.errors?.['min']"> El número tiene que ser mayor a 0 </div> 

      </div> -->

    
        <ion-button class="submit" type="submit"  mode="ios"  [disabled]="form.invalid" > <!-- EL tipo "type" servira para enviar la información de lo que estemos agregando y mis datos sean leidos , sino no podra leer el contenido esto de acuerdo a las propiedades del submit -->
          {{students ? 'Editar': 'Guardar' }}
          <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-button>

        <!-- <ion-button (click)="goToSignUp()" class="ion-margin-top" expand="block" mode="ios" fill="outline">
          Registrarse
        </ion-button> -->

    </form>

</ion-content>