<app-header [showMenu]="true" title="Estudiantes"></app-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar animated placeholder="Buscar estudiantes..." mode="ios" (ionInput)="onSearch($event)" debounce=1000></ion-searchbar>

  <ion-list *ngIf="!loading">
    <ion-item-sliding class="product-item" *ngFor="let student of filteredStudents">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="student.img" alt="">
        </ion-avatar>
        <ion-label>
          <div class="name">{{ student.name }}</div>
          <div class="data">
            <strong>Matrícula:</strong> {{ student.enrollment }}<br>
            <strong>Inclusión:</strong> {{ student.inclusion }}<br>
            <strong>Generación:</strong> {{ student.generation }}<br>
            <strong>Grupo:</strong> {{ student.group }}<br>
            <strong>Género:</strong> {{ student.genre }}<br>
            <strong>Cuatrimestre:</strong> {{ student.quarter }}<br>
            <strong>Status:</strong> {{ student.status }}<br>
            <strong>Carrera:</strong> {{ student.degree }}<br>
            <strong>ID_Key1:</strong> {{ student.id_key }}<br>
            
          </div>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="addUpdateStudent(student)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="confirmDeleteStudent(student)" color="danger">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="loading">
    <ion-item-sliding class="product-item" *ngFor="let student of [1,1,1,1,1,1]">
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <div>
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
          </div>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <div class="empty" *ngIf="!loading && !filteredStudents.length">
    <ion-icon name="person-outline"></ion-icon>
    <h3>No hay estudiantes disponibles</h3>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addUpdateStudent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="exportDataToExcel()" class="btn-export">
      <ion-icon name="cloud-upload"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="btn-import">
      <ion-icon name="download-outline"></ion-icon>
      <input type="file" (change)="onFileSelected($event)" accept=".xlsx, .xls" style="opacity: 0; position: absolute; width: 100%; height: 100%; top: 0; left: 0;">
    </ion-fab-button>
  </ion-fab>

</ion-content>
